<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Hello, user!</title>
</head>
<body>
<div>Hello, user</div>

<div class="list-group list-group-flush">
    <p class=".text-info list-group-item">
        This is my Spring application.<br>
        My app is about shop;<br>
        You can register & login, add your product and search products by title.<br>
    </p>

    <p class=".text-info list-group-item">
        However, my app has disadvantages.<br>
        There is no password encryption, admin role isn't implemented.<br>
        In controllers instead of Model I used map.<br>
        Mustache isn't great template language for Spring.<br>
        Most likely I didn't handle all exception.<br>
    </p>

    <p class=".text-danger list-group-item">
    Don't be shocked, if it's too bad).<br>
    </p>
</div>

<a href="/main">Main page</a>
</body>
</html>